html, body{
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #f5f4f0;
    height: auto;
    font-family: Quicksand, sans-serif;
}

.topnav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position:fixed;
    background-color: #076481;
    width: 100%;
    min-height: 80px;
    z-index: 1000;

}

.topnav li:not(.logoimg) {
    float: right;
    margin-top: 15px;
}
.topnav li:first-child{
    float: left;
}
.topnav img{
    max-width: 150px;
    height: auto;
    z-index: 10000;
    margin-top: 5px;
}
.topnav li:nth-child(3){
    border: 1px solid lightblue;
    border-radius: 20px;
}

.topnav li a:not(#logo){
    font-family: Quicksand, sans-serif;
    font-weight: 400;
    color: lightblue;
    text-decoration: none;
    text-align: center;
    padding: 1em;
    display:inline-block;
}

.topnav li:nth-child(3):hover{
    border: 1px solid white;
    transition: border 0.5s ease;
}

.topnav li a:not(#logo):hover{
    color: white;
    transition: color 0.3s ease;
}
.topnav li.icon{
    display: none;
}
.topnav li a:hover{
    color: white;
}


/* Slideshow Fading animation (login, map, places) */

* {box-sizing:border-box}
.mySlides {display:none}

/* Slideshow container */
.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
    top:80px;
}


.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .2}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .2}
    to {opacity: 1}
}

.slideshow-container h2{
    position: absolute;
    top: 30%;
    width: 100%;
    text-align: center;
    font-family: quicksand, sans-serif;
    font-size: 2.5vw;
    letter-spacing: 15px;
    font-weight: 400;
    color: rgba(239, 236, 201, 0.5);
    z-index:100;
}



.info{
    position: relative;
}
.totop{
    position:relative;
    text-align: center;
}
.totop a{
    text-decoration: none;
}

.fa-chevron-circle-up:before{
    font-size: 50px;
    color: #076481;
}
footer{
    background:#012F2F;
    color: white;
    font-family:Quicksand, sans-serif;
    height: 100px;
    bottom: 0;
    width: 100%;
    clear:both;
}



@media screen and (max-width:540px) {
    ul.topnav li:not(:first-child) {display: none;}
    ul.topnav li.icon {
        float: right;
        display: inline-block;
    }




}
@media screen and (max-width:540px) {
    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive li.icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive li {
        float: none;
        display: inline;
    }

    .topnav.responsive li a {
        display: block;
        text-align: left;
    }

}