
.container{
    width:100%;
    top:80px;
    position: relative;
}

#crossfade > img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    color: transparent;
    opacity: 0;
    z-index: 0;
    -webkit-backface-visibility: hidden;
    -webkit-animation: imageAnimation 40s linear infinite 0s;
    -moz-animation: imageAnimation 40s linear infinite 0s;
    -o-animation: imageAnimation 40s linear infinite 0s;
    animation: imageAnimation 40s linear infinite 0s;
}

#crossfade > img:nth-child(2)  {
    -webkit-animation-delay: 10s;
    -moz-animation-delay: 10s;
    -o-animation-delay: 10s;
    animation-delay: 10s;
}
#crossfade > img:nth-child(3) {
    -webkit-animation-delay: 20s;
    -moz-animation-delay: 20s;
    -o-animation-delay: 20s;
    animation-delay: 20s;
}
#crossfade > img:nth-child(4) {
    -webkit-animation-delay: 30s;
    -moz-animation-delay: 30s;
    -o-animation-delay: 30s;
    animation-delay: 30s;
}
#crossfade > img:nth-child(5) {
    -webkit-animation-delay: 40s;
    -moz-animation-delay: 40s;
    -o-animation-delay: 40s;
    animation-delay: 40 s;
}

@-webkit-keyframes imageAnimation {
    0% { opacity: 0;
        -webkit-animation-timing-function: ease-in; }
    8% { opacity: 1;
        -webkit-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 1 }
    100% { opacity: 0 }
}

@-moz-keyframes imageAnimation {
    0% { opacity: 0;
        -moz-animation-timing-function: ease-in; }
    8% { opacity: 1;
        -moz-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 1 }
    100% { opacity: 0 }
}

@-o-keyframes imageAnimation {
    0% { opacity: 0;
        -o-animation-timing-function: ease-in; }
    8% { opacity: 1;
        -o-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 1 }
    100% { opacity: 0 }
}

@-ms-keyframes imageAnimation {
    0% { opacity: 0;}
    8% { opacity: 1;}
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}

@keyframes imageAnimation {
    0% { opacity: 0;
        animation-timing-function: ease-in; }
    8% { opacity: 1;
        animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 1 }
    100% { opacity: 0 }
}







.main{
    position: absolute;
    width: 100%;
    display: flex;
    flex-flow: column;
    top: 80px;
    max-height:100%;
}
.header-text{
    position: relative;
    text-align: center;
    top: 15%;
    max-width: 45%;
    background-color: rgba(170, 170, 170, 0.3);
    border-radius: 10px;
    margin: 0 auto;
}

#logo-text{
    max-width: 70%;
    padding-top: 2%;
    padding-bottom: 2%;
    border-bottom: solid #EFECC9 1px;
}
.header-text h2{
    color: #EFECC9;
    font-family: 'Quicksand', sans-serif;
    max-font-size: 28px;
    font-weight: 100;
    padding-bottom: 5%;
}

.main form{
    max-width:100%;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    margin: 0 auto;
    position: relative;
    text-align: center;
    padding-top: 3%;
}

.main form input[type = "text"]{
    max-width: 100%;
    padding: 10px 0;
    box-sizing: border-box;
    text-align: center;
    border: 1px solid rgba(231, 248, 254, 0.3);
    border-radius: 10px;
    background: rgba(200, 200, 200, 0);
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 10%;
    margin-top: 1%;
}

.main form input:focus{
    outline: none;
    border: 1px solid rgba(231, 248, 254, 1);
}
.main form input:hover{
    border: 1px solid rgba(231, 248, 254, 1);
    transition: border 0.3s ease;
}
.gumb{
    position: relative;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
}
#go{
    transition: .5s ease;
    max-width: 100%;
    padding: 10px 10px;
    font-family: Quicksand, sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-decoration: none;
    display: inline-block;
    border-radius: 20px;
    border: 1px solid #E5E2AF;
    color: #E5E2AF;
    background-color: rgba(200, 200, 200, 0);
    cursor: pointer;
}
#go:hover{
    background-color: rgba(7, 100, 129, 0.5);
    border: 1px solid rgba(7, 100, 129, 0.5);
}

.about{
    position: absolute;
    background: #012F2F;
    width:100%;
    margin: 0 auto;
    text-align: center;
    height:auto;
    top: 1200px;
}
.abouttext{
    background: #f5f4f0;
    max-width:100%;
    max-height: 0;
    transition: max-height 0.3s ease-out;
    overflow: hidden;
    margin: 0 auto;
}
.abouttext h2{
    position: relative;
    max-width: 60%;
    color: #012F2F;
    margin: 0 auto;
    text-align: center;
    font-weight: 600;
    font-size: 40px;
    font-family: Quicksand, sans-serif;
    padding: 3% 0;
}
.abouttext p{
    position:relative;
    font-weight: 400;
    font-size: 22px;
    font-family: Quicksand, sans-serif;
    text-align: center;
    margin: 0 auto;
    max-width: 70%;
    color: #076481;
    line-height: 2em;
    padding-bottom: 3%;
}

.fa-chevron-down:before{
    font-size: 35px;
}

input[type=checkbox]{
    display:none;
}
input[type=checkbox] + label {
    color: #ccc;
    cursor: pointer;
}

input[type=checkbox]:checked ~ label {
    -ms-transform: rotate(7deg);
    -webkit-transform: rotate(7deg);
    transform: rotate(-180deg);
    transition: transform 0.2s ease-in;
}

input[type=checkbox]:checked ~ div {
    display:block;
    max-height: 500px;
    transition: max-height 0.3s ease-in;

}
