html, body{
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #f5f4f0;
}
.nav{
    margin: 0;
    overflow: hidden;
    background-color: rgba(239, 236, 201, 1);
}
.topnav{
    list-style-type: none;
    float: right;
    position: relative;
    z-index: 1000;
    margin: 0;
    padding: 0;
    height: inherit;
}
    .topnav li{
        display: inline-block;
    }
.nav img{
    width: 40%;
    padding: 0;
}
.topnav li:nth-child(2){
    border: 1px solid #076481;
    border-radius: 20px;
}
    .topnav li a{
        font-family: Quicksand, sans-serif;
        font-weight: 400;
        display: inline-block;
        color: #076481;
        text-align: center;
        text-decoration: none;
        transition: 0.5s;
        padding: 20px 20px;
        font-size: 18px;
    }
.topnav li a:hover{
    color: white;
}
.topnav li:nth-child(2):hover{
    border: 1px solid white;
}
.topnav li.icon{
    display: none;
}
.topnav li img{
    width: 30%;
    padding-left: 5%;
}
@media screen and (max-width:540px) {
    ul.topnav li:not(:first-child) {display: none;}
    ul.topnav li.icon {
        float: right;
        display: inline-block;
    }
}
@media screen and (max-width:540px) {
    ul.topnav.responsive {position: relative;}
    ul.topnav.responsive li.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    ul.topnav.responsive li {
        float: none;
        display: inline;
    }
    ul.topnav.responsive li a {
        display: block;
        text-align: right;
    }
}

.header{
    background-image: url("../docs/Images/cropped landing.jpg");
    background-size: cover;
    height: 1000px;
    width: 100%;
}
.header-text{
    margin: 0 auto;
    position: relative;
    text-align: center;
    top: 20%;
    max-width:40%;
    background-color: rgba(170, 170, 170, 0.3);
    border-radius: 10px;
}

#logo-text{
    width: 70%;
    padding-top: 2%;
    padding-bottom: 2%;
    border-bottom: solid white 1px;
}
h2{
    color: #EFECC9;
    font-family: 'Quicksand', sans-serif;
    font-size: 28px;
    font-weight: 100;
    padding-bottom: 5%;
}

form{
    width:50%;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    margin: 0 auto;
    position: relative;
    text-align: center;
    top: 20%;
}

input[type = "text"]{
    width: 40%;
    padding: 10px 3px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid rgba(231, 248, 254, 0.3);
    border-radius: 10px;
    background: rgba(200, 200, 200, 0);
    color: #fff;
    font-size: 15px;
    font-weight: 400;
}
input:focus{
    outline: none;
}
.gumb{
    position: relative;
    width: 15%;
    top: 23%;
    margin: 0 auto;
}
.button{
    transition: .5e ease;
    width: 100%;
    padding: 15px 32px;
    text-align: center;
    font-family: Quicksand, sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-decoration: none;
    display: inline-block;
    border-radius: 20px;
    border: 1px solid #E5E2AF;
    color: #E5E2AF ;
    background-color: rgba(200, 200, 200, 0);
    cursor: pointer;
}
.button:focus{
    outline: none;
}
.button:active{
    background-color: rgba(7, 100, 129, 0.15);
}

.about{
    position: relative;
    background-color: #f5f4f0;
    width:70%;
    margin: 0 auto;
    height: 500px;
}
.abouttext h2{
    text-align: center;
    color: #012F2F;
    font-weight: 600;
    font-size: 40px;
    font-family: Quicksand, sans-serif;
    padding: 0;
}
.abouttext p{
    text-align: left;
    color: #076481;
    font-weight: 400;
    font-size: 30px;
    font-family: Quicksand, sans-serif;
    margin-left: 15%;
    line-height: 2;
}
.info{
    position:relative;
    background-color: #012F2F;
    width:100%;
    height: 300px;
}