html, body{
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #f5f4f0;
    display:flex;
    flex-flow: column;
}

.topnav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position:fixed;
    background-color: #E5E2AF;
    width: 100%;
    height: 80px;
    z-index: 1000;
}

.topnav li:not(#logoimg) {
    float: right;
    margin-top: 15px;
}
.topnav li:first-child{
    float: left;
}
#img{
    max-width: 200px;
    height:auto;
    padding-top: 5px;
}
.topnav li:nth-child(3){
    border: 1px solid #076481;
    border-radius: 15px;
}
.topnav li a:not(#logo){
    font-family: Quicksand, sans-serif;
    font-weight: 400;
    color: #076481;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    padding: 1em;
    display:inline-block;
}

.topnav li:nth-child(3):hover{
    border: 1px solid white;
}

.topnav li.icon{
    display: none;
}


@media screen and (max-width:421px) {
    ul.topnav li:not(:first-child) {display: none;}
    ul.topnav li.icon {
        float: right;
        display: inline-block;
    }
    .header-text{
        min-width: 80%;
    }
    h2{
        font-size:18px;
    }
    form{
        font-size: 12px;
        top: 16%
    }
    input{
        font-size: 12px;
        padding: 5px 3px;
    }
    .gumb{
        top: 15%;
        min-width: 40%;
        font-size: 12px;
    }
    #go{
        font-size: 5px;
    }

}
@media screen and (max-width:421px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive li.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive li {
        float: none;
        display: inline;
    }
    .topnav.responsive li a {
        display: block;
        text-align: left;
    }
}

.header{
    background-image: url("../docs/Images/cropped landing.jpg");
    background-size: cover;
    height: 1000px;
    max-width: 100%;
    display: flex;
    flex-flow: column;
}
.header-text{
    margin: 0 auto;
    position: relative;
    text-align: center;
    top: 15%;
    width: 40%;
    background-color: rgba(170, 170, 170, 0.3);
    border-radius: 10px;
}

#logo-text{
    max-width: 60%;
    padding-top: 2%;
    padding-bottom: 2%;
    border-bottom: solid #EFECC9 1px;
}
h2{
    color: #EFECC9;
    font-family: 'Quicksand', sans-serif;
    max-font-size: 28px;
    font-weight: 100;
    padding-bottom: 5%;
}

form{
    min-width:50%;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    margin: 0 auto;
    position: relative;
    text-align: center;
    top: 18%;
}

input[type = "text"]{
    min-width: 40%;
    padding: 10px 3px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid rgba(231, 248, 254, 0.3);
    border-radius: 10px;
    background: rgba(200, 200, 200, 0);
    color: #fff;
    font-size: 15px;
    font-weight: 400;
}
input:focus{
    outline: none;
}
.gumb{
    position: relative;
    min-width: 20%;
    top: 20%;
    margin: 0 auto;
}
#go{
    transition: .5s ease;
    width: 100%;
    padding: 15px 0;
    text-align: center;
    font-family: Quicksand, sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-decoration: none;
    display: inline-block;
    border-radius: 20px;
    border: 1px solid #E5E2AF;
    color: #E5E2AF ;
    background-color: rgba(200, 200, 200, 0);
    cursor: pointer;
}
#go:focus{
    outline: none;
}
#go:active{
    background-color: rgba(7, 100, 129, 0.15);
}

.about{
    position: relative;
    background-color: #f5f4f0;
    width:70%;
    margin: 0 auto;
    min-height: 400px;
    padding-bottom: 0;
}
.abouttext h2{
    position: relative;
    text-align: center;
    color: #012F2F;
    font-weight: 600;
    font-size: 40px;
    font-family: Quicksand, sans-serif;
    padding: 0;
}
.abouttext p{
    text-align: left;
    color: #076481;
    font-weight: 400;
    font-size: 30px;
    font-family: Quicksand, sans-serif;
    margin-left: 15%;
    line-height: 2;
}
.info{
    position:relative;
    background-color: #012F2F;
    width:100%;
    max-height: 300px;
}