
.mainContainer{
    position:relative;
    width: 75vw;
    min-height: 600px;
    margin: 0 auto;
    overflow: auto;
}

.loginContainer{
    position:relative;
    float:left;
    width: 380px;
    height: 450px;
    border: 2px solid #076481;
    border-radius: 25px;
    display:flex;
    flex-flow: column;
    justify-content: center;
    -webkit-box-shadow: 0 5px 20px 2px grey;
    -moz-box-shadow: 0 5px 20px 2px grey ;
    box-shadow: 0 5px 10px 2px grey;
    margin: 25px 0;
}
.signup-container{
    position:relative;
    float:right;
    width: 380px;
    height: 450px;
    border: 2px solid #076481;
    border-radius: 25px;
    display:flex;
    flex-flow: column;
    -webkit-box-shadow: 0 5px 20px 2px grey;
    -moz-box-shadow: 0 5px 20px 2px grey ;
    box-shadow: 0 5px 10px 2px grey;
    margin: 25px 0;
}

h1{
    text-align: center;
    font-family: quicksand, sans-serif;
    font-size: 30px;
    font-weight: 400;
    color: #076481;
    width: 100%;
}

form{
    width:100%;
    color: #076481;
    font-weight: 400;
    margin: 0 auto;
    position: relative;
    text-align: center;
}


.loginContainer form{
    top:5%;
}


input[type = "text"], input[type ="password"]{
    width: 70%;
    padding: 10px 3px;
    margin: 15px 0;
    box-sizing: border-box;
    border: 1px solid rgba(128, 128, 128, 0.5);
    background: #f5f4f0;
    color: black;
    font-size: 15px;
    font-weight: 400;
}
input:focus{
    outline: none;
    -webkit-box-shadow: 0 0 5px 2px grey;
    -moz-box-shadow: 0 0 5px 2px grey ;
    box-shadow: 0 0 20px 1px grey;
}

.forgoten{
    width: 100%;
    position: relative;
    margin: 0 auto;
    text-align: center;
}

.button{
    width: 50%;
    padding: 10px 5px;
    text-align: center;
    font-family: Quicksand, sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-decoration: none;
    border-radius: 15px;
    border: 2px solid #076481;
    color: #076481;
    background-color: rgba(200, 200, 200, 0);
    cursor: pointer;
}


.button:focus{
    outline: none;
}
.button:hover{
    transition: 0.3s ease;
    background-color: rgba(1, 47, 47, 0.3);
}
.button:active{
    background-color: rgba(7, 100, 129, 0.15);
}

#forgot{
    font-size: 14px;
}



