html, body{
    width: 100%;
    padding: 0;
    margin: 0;
}
.topnav{
    list-style-type: none;
    margin: 0;
    padding: 5px 0;
    overflow: hidden;
    background-color: #EFECC9;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
    .topnav li{
        float: right;
    }
    .topnav li:first-child{
        float: left;
    }

    .topnav li a{
        font-family: Raleway, sans-serif;
        font-weight: 400;
        display: inline-block;
        color: #076481;
        text-align: center;
        padding: 25px 25px;
        text-decoration: none;
        transition: 0.5s;
        font-size: 20px;
    }
    .topnav li a:hover{
        background-color: #A6A27E;
    }
    .topnav li.icon{
        display: none;
    }

@media screen and (max-width:680px) {
    ul.topnav li:not(:first-child) {display: none;}
    ul.topnav li.icon {
        float: right;
        display: inline-block;
    }
}
@media screen and (max-width:680px) {
    ul.topnav.responsive {position: relative;}
    ul.topnav.responsive li.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    ul.topnav.responsive li {
        float: none;
        display: inline;
    }
    ul.topnav.responsive li a {
        display: block;
        text-align: left;
    }
}

.image{
    width:100%;
    height: 300px;
    background-color: red;
    top: 75px;
    position:absolute;
    background-image: url("../docs/Images/bled300px.png");
}
.myMap{
    width: 70%;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top:375px;
    background-color: #076481;
    padding: 1%;
}
#map{
    width: 500px;
    height: 500px;
    background-color: grey;
    border: 5px solid #EFECC9;
    border-radius: 5px;
}
h1{
    width:100%;
    text-align: center;
    padding: 3% 0;
    font-family: quicksand, sans-serif;
    font-weight: 400;
    color: #EFECC9;
}
