html, body{
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #f5f4f0;
}
.nav{
    position: fixed;
    width: 100%;
    margin: 0;
    background-color: rgba(239, 236, 201, 1);
    z-index: 1000;
    height: 100px;
    padding: 5px 0;
}

.container{
    float: right;
    height: 100%;
    line-height: 100%;
}

.topnav{
    
    vertical-align: middle; 
    display: inline-block; 
    line-height: normal;
    list-style-type: none;
    position: relative;
    padding: 0;
}
    .topnav li{
        display: inline-block;
    }
.nav img{
    height: 100%;
    padding: 0;
}
.topnav li:nth-child(2){
    border: 1px solid #076481;
    border-radius: 20px;
}
    .topnav li a{
        font-family: Quicksand, sans-serif;
        font-weight: 400;
        display: inline-block;
        color: #076481;
        text-align: center;
        text-decoration: none;
        transition: 0.5s;
        padding: 25px 20px;
        font-size: 18px;
    }
.topnav li a:hover{
    color: white;
}
.topnav li:nth-child(2):hover{
    border: 1px solid white;
}
.topnav li.icon{
    display: none;
}

@media screen and (max-width:700px) {
    ul.topnav li {display: none;}
    ul.topnav li.icon {
        float: right;
        display: inline-block;
    }
}
@media screen and (max-width:700px) {
    ul.topnav.responsive {position: relative;}
    ul.topnav.responsive li.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    ul.topnav.responsive li {
        float: none;
        display: inline;
    }
    ul.topnav.responsive li a {
        display: block;
        text-align: right;
    }
}
.places{
    position:relative;
    background-color: red;
    width:100%;
    height: 600px;
}

.info{
    position:relative;
    background-color: #012F2F;
    width:100%;
    height: 300px;
}