html, body{
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #f5f4f0;
    display:flex;
    flex-flow: column;
}

.topnav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position:fixed;
    background-color: #EFECC9;
    width: 100%;
    height: 80px;
    z-index: 1000;
}

.topnav li:not(#logoimg) {
    float: right;
    margin-top: 15px;
}
.topnav li:first-child{
    float: left;
}
#img{
    max-width: 200px;
    height:auto;
    padding-top: 5%;
}
.topnav li:nth-child(3){
    border: 1px solid #076481;
    border-radius: 15px;
}
.topnav li a:not(#logo){
    font-family: Quicksand, sans-serif;
    font-weight: 400;
    color: #076481;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    padding: 1em;
    display:inline-block;
}
.topnav li:nth-child(3):hover{
    border: 1px solid white;
    background: rgba(7, 100, 129, 0.7);
    transition: border, background 0.3s ease;
}
.topnav li a:not(#logo):hover{
    color: white;
    transition: color 0.3s ease;
}
.topnav li:nth-child(3):hover{
    border: 1px solid white;
}

.topnav li.icon{
    display: none;
}

@media screen and (max-width:421px) {
    ul.topnav li:not(:first-child) {display: none;}
    ul.topnav li.icon {
        float: right;
        display: inline-block;
    }
}
@media screen and (max-width:421px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive li.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive li {
        float: none;
        display: inline;
    }
    .topnav.responsive li a {
        display: block;
        text-align: left;
    }
}
.places{
    position:relative;
    background-color: red;
    width:100%;
    height: 600px;
}

.info{
    position:relative;
    background-color: #012F2F;
    width:100%;
    height: 300px;
}